*, body, main, p, h1, h2 {
  font-family: 'Yusei Magic', sans-serif;
}

.menu {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5rem;
}
h1 {
    text-align: center;
}

.container {
    position: relative;
    width: 75%;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fdf6e3;
}
